.header-resume {
    background-color: #1d293a;
    color: #64FFDA;
    border: 1px solid #64FFDA;
    border-radius: var(--border-radius);
}

.header-resume:hover {
    border: 1px solid #157a63;
    background-color: #157a63;
}

.nav {
    font-size: 13px;
}

.social {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: red;
}

.ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

.ul li::after {
    content: "";
    display: block;
    width: 1px;
    margin: 0px auto;
    color: red;
}

@media only screen and (max-width: 576px) {
    .header-resume {
        padding: 7px 0px;
        width: 20%;
    }


}