.Menufacture {
    text-align: start;
    font-size: 20px;
    padding: 5px 0;
    color: #64FFDA;
}

.manufacture-title {
    text-align: start;
    font-size: 22px;
    color: #a8b2d1;
    padding-bottom: 5px;
}

.project-image img {
    width: 600px;
    box-shadow: 0px 10px 30px -15px rgba(2, 12, 27, 0.7);
    position: relative;
    z-index: 1;
    height: 300px;
    padding-right: 60px;
}

.project-image img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    background-color: #112240;
    mix-blend-mode: screen;
    box-sizing: inherit;
}


.project-des {
    box-shadow: 0px 10px 30px -15px rgba(2, 12, 27, 0.7);
    position: relative;
    z-index: 2;
    width: 600px;
    height: 180px;
    padding: 25px;
    color: #a8b2d1;
    font-size: 18px;
    background-color: #112240;
    border-radius: 4px;
    text-align: start;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-sizing: inherit;


}

.featuress {
    display: flex;
    color: #a8b2d1;
    margin-right: 35px;

}

.div {
    margin-top: 110px;
}

@media only screen and (max-width: 576px) {
    .manufacture-title {
        text-align: start;
        padding-bottom: 8px;

    }

    .featuress {
        margin-left: -15px;
    }

    .project-image img {
        margin-top: 100px;
        /* margin-bottom: 150px; */
        width: 390px;
        height: 200px;
        padding-left: 0px;
        order: 1;

    }

    .des {
        order: 2;
    }

    .project-des {
        text-align: start;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 330px;
        margin-top: -10px;
        height: 250px;
    }

    .socila {
        display: flex;
    }

    .div {
        margin-top: -100px
    }

    .text {
        margin-bottom: 200px;
    }

    .full {
        margin-bottom: 20px;
    }
}