.project-img img {
    width: 600px;
    box-shadow: 0px 10px 30px -15px rgba(2, 12, 27, 0.7);
    position: relative;
    z-index: 1;
    height: 300px;


}

.project-img img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    background-color: #112240;
    mix-blend-mode: screen;
    box-sizing: inherit;
}

.project-description {
    box-shadow: 0px 10px 30px -15px rgba(2, 12, 27, 0.7);
    position: relative;
    z-index: 2;
    height: 150px;
    padding: 25px;
    color: #a8b2d1;
    font-size: 18px;
    background-color: #112240;
    border-radius: 4px;
    text-align: end;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-sizing: inherit;


}

.Warehouse {
    text-align: end;
    font-size: 20px;
    padding: 5px 0;
    color: #64FFDA;
}

.Warehouse-title {
    text-align: end;
    font-size: 22px;
    color: #a8b2d1;
    padding-bottom: 5px;
}

.feature {
    display: flex;
    color: #a8b2d1;
    padding-left: 50px;
}

.padding {
    padding-left: 28px;
}

.github {
    font-size: 25px;
    color: #a8b2d1;
}

@media only screen and (max-width: 576px) {
    .heading {
        font-size: 26px;
        padding-right: 20px;
        margin-left: -40px !important;
    }

    .project-img img {
        width: 350px;
        height: 200px;
    }

    .project-description {
        text-align: start;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 200px;
        width: 350px;
    }

    .feature {
        margin-left: -50px;
    }

    .Warehouse {
        text-align: start;
    }

    .Warehouse-title {
        text-align: start;
        padding-bottom: 8px;
    }

    .padding {
        padding-left: 8px;
    }

    .project-icon {
        margin-right: 20px;
    }
}